.site-main {
	padding-top: 240px;
	
	@include breakpoint(mobile) {
		padding-top: $space-6;
	}

	.home & {
		padding-top: $space-6;
		@include breakpoint(mobile) {
			padding-top: $space-3;
		}
	}
}

.border--right {
	border-right: 1px solid color(bg-40);

	&_start {
		border-right: 1px solid color(bg-40);
		position: relative;
		&::before{
			content: '';
			height: 40px;
			width: 8px;
			background-color: color(bg-40);
			position: absolute;
			right: -8px;
		}
	}
}

#moove_gdpr_cookie_info_bar {
	min-height: 400px !important;
}

.moove-gdpr-info-bar-container{
	padding: 100px 40px !important;
}