.site-main {
	padding-top: 240px;
	
	@include breakpoint(mobile) {
		padding-top: $space-3;
	}

	.single-productos & {
		//padding-top: 192px;
	}
}

.border--right {
	border-right: 1px solid color(body-white);

	&_start {	
		position: relative;
		&::before{
			content: '';
			height: 40px;
			width: 8px;
			background-color: color(body-white);
			position: absolute;
			right: -8px;
		}
	}
}

.background-for-loop {
	background: color(bg-20);
	background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 10%, color(bg-20) 10%, color(bg-20) 100%);
} 



#moove_gdpr_cookie_info_bar {
	min-height: 400px !important;
}

.moove-gdpr-info-bar-container{
	padding: 100px 40px !important;
}