a {
	color: color(body-link);
	text-decoration: none;

	p & {
		text-decoration: underline;
	}

	&:hover,
	&:focus,
	&:active {
		color: color(body-link--hover);
		cursor: pointer;
	}
	&:focus {
		outline: none;
	}
	&:hover,
	&:active {
		outline: 0;
		cursor: pointer;
	}
}
