#masthead{
	position: fixed;
	width: 100%;
	z-index: 99;
	transition: all 0.3s ease;
	@include breakpoint(tablet) {
        position: relative;
	}

	&.scrolled-on {
		transition: all 0.3s ease;
		
		.site-branding, .site-contact {
			z-index: 9;
			transition: all 0.3s ease;
		}

		.site-branding {
			width: 112px;
			translate: 0 -60px;
			@include breakpoint(tablet) {
				translate: none;
				width: 100%;
			}
		}

		.site-contact {
			translate: 0 -64px;
			a {
				font-size: 0.875rem;
			}
			@include breakpoint(tablet) {
				translate: none;
				a {
					font-size: inherit;
				}
			}
		}

		#site-header, #menu-container {
			height: 0;
			@include breakpoint(tablet) {
				height: 100%;
			}
		}

		#site-header-menu {
			display: none;
			background-color: color(bg-20);
			
			@include breakpoint(tablet) {
				background-color: color(body-white);
			}
		}

		#topbar {
			
				height: $space-4;
				transition: all 0.3s ease;

				button {
					padding: 4px $space-4;
					height: $space-4;
				}

				.site-description {
					font-size: 0;
				}

				.search-form, .search-field {
					//height: $space-3 !important;
					min-height: $space-3 !important;
					transition: all 0.3s ease;
				}
				.search-submit {
					padding: 0 $space-4;
					transition: all 0.3s ease;
				}
			
		}
	}
}

#topbar {
    background-color: color(bg-20);
    color: color(body-medium);
    position: relative;
    width: 100%;
    height: $space-6;
    z-index: 2;
	transition: all 0.3s ease;

    &:after {
        content: '';
        position: absolute;
        height: 100%;
        width: 1px;
        background: color(body-white);
        left: 50%;
        top: 0;
		
		@include breakpoint(mobile) {
			height: 0;
			width: 0;
		}
    }

    .container, .row {
        height: 100%;
    }

	.site-description {
		margin-bottom: 0;
		@include breakpoint(mobile) {
			font-size: .875rem;
			line-height: 1.2;
		}
	}
	
	#search-bar {
		display: none;
	}

	.search-form {
		justify-content: end;
		@include breakpoint(tablet) {
			input[type="submit"] {
				display: none;
			}
		}
	}

    .btns-group {
        position: absolute;
        right: 0;
        top: 0;
		transition: all 0.3s ease;
		img {
			max-width: none;
		}
    }

    button {
        color: color(body-white);
        border-radius: 0;
        padding: $space-1 $space-4;
        height: $space-6;
		&:hover {
            background-color: color(primary-100);
        }
    }

    .btn-search {
        background-color: color(primary);
    }

    .btn-open-nav {
        background-color: color(primary-40);
    }

	&.search-bar--open {
		.btns-group {
			right: calc(50% - 224px );

			@include breakpoint(mobile) {
				right: calc(50% + 68px );
			}
		}
	}
}

#site-header { 
	//padding-bottom: $space-2;
    display: grid;
    grid-template-columns: 20% 30% 50%;
    position: relative;
	
	@include breakpoint(tablet) {
        display: block;

		.site-branding, .site-contact {
			padding-right: initial;
			align-items: center;
			text-align: center;
		}

    }

    &:after {
        content: '';
        position: absolute;
        width: 1px;
        background: color(body-white);
        left: 50%;
		top: 0;
    }
}

.site-branding {
	padding-top: $space-2;
}

.site-contact {
    padding-right: $space-7;
	padding-top: $space-2;
	display: flex;
	flex-direction: column;
	align-items: end;
	gap: 0;

    small a {
        color: color(body-medium);
    }
}

.main-navigation {
	display: block;
	width: 100%;
	padding-top: $space-2;

	ul {
		//display: none;
		list-style: square;
		margin: 0 0 0 3rem;
		padding-left: 0;
        font-size: 0.875rem;
        line-height: $space-2;

		@include breakpoint(tablet) {
			margin: $space-2;
		}

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
            background-color: #ffffff;
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;
            list-style: none;
            padding: 1rem 1rem 0 1rem;
            margin: 0;
            height: auto;

			@include breakpoint(tablet) {
				display: none;
				box-shadow: none;
				float: none;
				position: relative;
				top: 100%;
				left: 0;
				z-index: 99999;
				padding: 1rem 1rem 0 1rem;
				margin: 0;
				height: auto;
			}

			ul {
				left: -999em;
				top: 0;
			}

			li {

				&:hover > ul,
				&.focus > ul {
					display: block;
					left: auto;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
				color: color(primary);
			}

			a:hover,
			a.focus {
				color: color(primary);
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	.dropdown-toggle {
		background-color: color(primary);
		width: $space-2;
		height: $space-1;
		position: absolute;
		top: 4px;
		right: 0;
		padding: 0;

		&::before {
			content: url("./assets/icons/chevron-down.svg");
		}
	}

	li {
		position: relative;

		&:hover > a,
		&.focus > a {
			color: color(primary);
		}
	}

	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
		color: color(primary-100);
	}
}

/* Small menu. */

.site-header-menu {
	display: none;
}

@include breakpoint(tablet) {
	
} 

@media screen and (min-width: 1194px) {

	.site-header-menu {
		display: block;
	}

	.main-navigation ul {
        display: flex;
        flex-flow: column wrap;
        height: 7.5rem;
	}

	.dropdown-toggle {
		display: none;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
	}

	.nav-links {
		display: flex;
	}

	.nav-previous {
		flex: 1 0 50%;
	}

	.nav-next {
		text-align: end;
		flex: 1 0 50%;
	}
}
