.card {
    box-shadow: 0px 6px 20px 10px #E1EDF880;
    border-radius: $border__radius;

    .post-thumbnail {
        display: block;
        width: 100%;

        img {
            display: block;
            width: 100%;
            border-radius: $border__radius $border__radius 0 0;
        }
    }

    .card--header {
        margin: $space-1 $space-3;
        padding: $space-2 0 ;
        border-bottom: 2px solid color(primary-20);
    }

    .card--footer {
        padding: 0 $space-3 $space-3 $space-3;
        display: flex;
        justify-content: space-between;
    }
}