.wp-block-cover.alignfull.is-style-hero-cover, .is-style-hero-cover {
    padding: $space-9 0 0;

    &:has(.wp-block-image.alignwide) {

        img.wp-block-cover__image-background, video.wp-block-cover__video-background {
            clip-path: polygon(100% 0, 100% 75%, 50% 75%, 50% 100%, 0 100%, 0 0);
    
            @include breakpoint(mobile) {
                clip-path: polygon(100% 0, 100% 90%, 50% 90%, 50% 100%, 0 100%, 0 0);
    
            }
        }

    }


    &::after {
        content: '';
        position: absolute;
        height: 100%;
        width: 1px;
        background: color(body-white);
        left: 50%;
        top: 0;
        z-index: 1;
        
        @include breakpoint(mobile) {
            height: 0;
            width: 0;
        }
    }

    

    .wp-block-cover__inner-container {
        z-index: 2;
    }

    figure {
        margin-bottom: 0;
    }

    h1.wp-block-post-title:first-line{
            color: color(primary);
      }
}

