.wp-block-cover.alignfull.is-style-hero-cover {
    padding: $space-8 0;

    &::before {
        content: '';
        position: absolute;
        height: 100%;
        width: 1px;
        background: color(body-white);
        left: 50%;
        top: 0;
        z-index: 2;
        
        @include breakpoint(mobile) {
            height: 0;
            width: 0;
        }
    }

    span.wp-block-cover__background {
        clip-path: polygon(100% 0, 100% 66%, 50% 66%, 50% 100%, 0 100%, 0 0);
    }
}

