/* Layout container */

.entry-content {

	& > *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.is-style-wide) {
		@include container;
	}

	& [class*="wp-block-"]:not(.alignfull).alignwide {
		margin-right: $space-6;
		margin-left: $space-6;
	}

	& [class*="wp-container-"]:not(.alignfull):not(.alignwide) {
		@include container;
	}

	.alignfull > .wp-block-group__inner-container, .alignfull > .wp-block-cover__inner-container {	
		//@include container;
	}

	.is-style-no-gap  {
		gap: 0;
	}
	
}

.move-up {
	margin-top: -40px;
	position: relative;
	z-index: 2;
}

.wp-block-columns {

	.wp-block-column.has-background {
		padding: $space-4;	
	}
}

.wp-block-group {

	.wp-block-columns {
		margin-bottom: 0;
	}
}

:where(.wp-block-group.has-background) {
	padding: $space-4 0;
}

