/* Layout container */

.entry-content {

	& > *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.is-style-wide) {
		@include container;
	}

	& [class*="wp-block-"]:not(.alignfull).alignwide {
		margin-right: $space-6;
		margin-left: $space-6;
		@include breakpoint(mobile) {
            margin-right: $space-1;
            margin-left: $space-1;
        }
	}

	& [class*="wp-container-"]:not(.alignfull):not(.alignwide) {
		@include container;
	}

	.is-style-no-gap  {
		gap: 0;
	}
	
}

.move-up {
	margin-top: -40px;
	position: relative;
	z-index: 2;
}

.wp-block-columns {
	margin-bottom: $space-2;
	.wp-block-column.has-background {
		padding: $space-4;	
	}
}

.wp-block-group {

	.wp-block-columns {
		margin-bottom: 0;
	}

	& [class*="wp-container-"]:not(.alignfull):not(.alignwide) {
		padding-left: 0;
		padding-right: 0;
	}
}

:where(.wp-block-group.has-background) {
	padding: $space-4 0;
}

:where(.is-layout-flex) {
	gap: $grid__gap;
}

