.tabs-block {

	position: relative;
	display: grid;
	grid-template-columns: 41.66% 58.33%;
	gap: $grid__gap;

	@include breakpoint(mobile) {
		display: block;
	}

	&.no-animation {

		.tabs-content {
			max-height: 100%;
			
			&.active {
				animation: none;
			}
		}
	}
	
	.tabs-btn {
		background-color: transparent;
		cursor: pointer;
		width: 100%;
		border-bottom: 1px solid color(primary-40);
		border-radius: 0;
		align-items: center;
		text-align: left;
		justify-content: start;
		gap: $space-1;
		transition: 0.4s;
		padding: $space-1 0 $space-05 0;
		margin: $space-05 0;
		color: color(body-medium);
		line-height: 1.2;

        .has-text-color & {
			color: inherit;

			span {
				background-color: color(body-white);
			}

			&:hover, &.active {
				color: color(body-link--hover);
	
				span {
					background-color: color(body-link--hover);
				}
			}
		}

		&:hover, &.active {
			color: color(primary);

			span {
				background-color: color(primary);
			}
		}

		span {
			background-color: color(body-medium);
  			-webkit-mask: url("assets/icons/arrow-right.svg") no-repeat center;
  			mask: url("assets/icons/arrow-right.svg") no-repeat center;
			width: 33px;
			height: 24px;
			margin: 0;
			flex-basis: 33px;
			flex-shrink: 0;
		}
	}
	
	.tabs-content {
		max-height: 0;
		display: none;
		overflow: hidden;

		@include breakpoint(mobile) {
			position: relative;
			margin-top: $space-3;
		}
		
		&.active {
			display: block;

			animation: slide .5s ease .3s forwards;
			@keyframes slide {
				from {max-height: 0;}
				to {max-height: 100%;}
			}
		}
	}
}

