.tabs-block {

	position: relative;
	
	.tabs-btn {
		background-color: transparent;
		cursor: pointer;
		width: 100%;
		border-bottom: 1px solid color(primary-40);
		border-radius: 0;
		align-items: center;
		text-align: left;
		justify-content: start;
		gap: $space-1;
		transition: 0.4s;
		padding: $space-1 0 $space-05 0;
		margin: $space-05 0;
		color: color(body-medium);
		line-height: 1.2;
		width: 50%;

        .has-text-color & {
			color: inherit;

			span {
				background-color: color(body-white);
			}

			&:hover, &.active {
				color: color(body-link--hover);
	
				span {
					background-color: color(body-link--hover);
				}
			}
		}

		&:hover, &.active {
			color: color(primary);

			span {
				background-color: color(primary);
			}
		}

		span {
			background-color: color(body-medium);
  			-webkit-mask: url("assets/icons/arrow-right.svg") no-repeat center;
  			mask: url("assets/icons/arrow-right.svg") no-repeat center;
			width: 33px;
			height: 24px;
			margin: 0;
			flex-basis: 33px;
			flex-shrink: 0;
		}
	}
	
	.tabs-content {
		max-height: 0;
		overflow: hidden;
		transition: max-height 0.2s ease-out;
		width: 50%;
		position: absolute;
		top: 0;
		left: 55%;
		right: 0;
	}
}


/* Hide / Show tab's content  */

.tab-content {
	display: none;
	width: 100%;
	max-height: 100%;
	background: #fff;
  }
  .tab.active + .tab-content { display: block; }
  
  /* Styling tabs - this is enough for mobile - just like an accordion */
  
  .tab, .tab-content { padding: 10px; } 
  .tab { background: #ccc; }
  .tab-content { background: #ddd; }
  
  /* Styling for desktop - vertical tabs */
  
  @media (min-width: 992px) {
	.tab { width: 30% }
	.tab-content {
	  position: absolute;
	  top: 0;
	  right: 0;
	  width: 70%;
	  min-height: 100%;
	  overflow-y: auto;
	}
  /*   this is optional */
	.tabs-container { 
	  min-height: 400px; 
	  background: #ccc;
	}
  }